a {
  text-decoration: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;  
  width: 100%; 
  margin: 0px;  /*removes default style*/
  word-wrap: break-word;
  font-family: 'Noto Sans TC';
  color: rgb(112, 112, 112);
}

#root {
  height: 100%;   
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  
}

/**
 * TOP-BOTTOM GRID
 */
.grid-container-frame {
  display: grid;

  grid-template-rows: 60px calc(100% - 60px);
  /* background-color: rgb(228, 228, 228); */
  height: 100%;
}

/**
 * LEFT-RIGHT GRID
 */
.grid-container-main {
  display: grid;
  /* grid-template-columns: <ENE COL> <ANDEN COL> */
  grid-template-columns: 240px calc(100% - 240px);
  height: 100%;
}

.grid-container-standard {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.grid-item {
  text-align: center;
  overflow-y: hidden;
  display: flex;
}

.flex-container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.flex-container-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #FFFFFF;
  /* padding: 35px; */
}

.flex-container-sidenav{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.flex-item-sidenav {
  width: calc(100%-20px);
  padding: 0px;
  margin: 0px;
}

#search-topbar {
  background-color:  #FFFFFF;
  border-style: solid;
  border-width: 0px 1.3px 1.3px 0px;
  border-color: rgb(209, 209, 209);
}

#main-topbar {
  background-color:  #FFFFFF;
  border-style: solid;
  border-width: 0px 0px 1.3px 0px;
  border-color: rgb(209, 209, 209);
  display: block;
}

#logo-container {
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 13px;
}

#main-sidenav {
  border-style: solid;
  border-width: 0px 1.3px 0px 0px;
  border-color: rgb(209, 209, 209);
  background-color:  #FFFFFF;
}

.flex-item-content {
  width: calc(100%);
  padding: 0px;
  margin: 0px;
}

/**
 * CSS til markdown styling
 * ----------------------------------- 
 */
.flex-item-markdown {
  width: 0 calc(80%);
  text-align: left;
  color: rgb(44, 44, 44);
  font-family: 'Roboto'; 
  /* font-family: 'Roboto'; */
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  margin-left: 20%;
  margin-right: 20%;
  padding: 60px;
  box-shadow: 10px 35px 50px grey, -10px 35px 50px grey; ;
}

.flex-item-markdown a {
  color: rgb(22, 149, 207);
}

.flex-item-markdown a:hover {
  text-decoration-line: underline; 
  text-decoration-color: #0C6FD1;
}

.flex-item-markdown h2 {
  font-size: 1.5em;
}

.flex-item-markdown h1, .flex-item-markdown h2 {
  border-bottom: 1px solid #b6b6b6;
  padding-bottom: .3em;
}

.flex-item-markdown h1, .flex-item-markdown h2, 
.flex-item-markdown h3, .flex-item-markdown h4, 
.flex-item-markdown h5, .flex-item-markdown h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.flex-item-markdown ul {
  line-height: 2;
}

.flex-item-markdown pre, .flex-item-markdown code {
  background-color: rgb(59, 59, 59);
  font-family: "Lucida Console", Monaco, monospace;
  color: rgb(231, 230, 230);
  line-height: 1.86;
  font-size: 90%;
}

/* tekst i code block */
.flex-item-markdown code {
  padding: 5px;
  border-radius: 10px;
}

.flex-item-markdown pre {
  display: block;
  border-radius: 10px;
  overflow: auto;
  padding: 14px;
  word-wrap: normal;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}



/**
 * Diverse
 * ----------------------------------- 
 */
.aligner-item {
  width: 600px;
  height: 400px;
  background-color: rgb(255, 0, 0);
}

.button-logo {
  background-color: #FFFFFF;
  font-family: 'Noto Sans TC';
  border: none;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: rgb(112, 112, 112);
}

.button-sidenav {
  background-color: #FFFFFF;
  border: none;
  color: rgb(112, 112, 112);
  font-size: 100%;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  width: 99.9%;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 90%;
  word-break: break-word;
}

.button-sidenav:hover {
  background-color: rgb(209, 209, 209);
}

.border {
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px solid #161669;
  
}


